.status-top
  %span.history-button.position-absolute
    %a{href: '/history'} View Historical Data
  - if is_admin? user
    %span.admin-button
      = link_to 'Admin', controller: :main, action: :admin
  .text-center
    %h1.mb-0
      Course Data API Status
    %h6.mb-3
      %i.font-weight-light#update-request
        Tests run every five minutes.
        = link_to 'Run now.', controller: :main, action: :run_update_job
    %div{class: "alert alert-#{overall @results} m-auto d-inline-block"}
      = status overall(@results)
.container-fluid#api-status-content
  .notice
    - unless flash[:notice].nil?
      .alert.alert-info.mx-auto.mb-2
        = flash[:notice]
    - active_notices.each do |notice|
      %div{class: "alert alert-#{notice.severity} mx-auto mb-2"}
        %h5.alert-heading= notice.title
        = notice.content
  .card-columns
    - @results.each do |path, test_info|
      .card
        .card-body
          %h5.card-title
            %span{class: "badge badge-pill badge-#{map test_info[:results][:worst]}"} &nbsp;
            &nbsp;
            = test_info[:category_name]
          %h6.card-subtitle.text-muted
            = path
        %ul.list-group.list-group-flush
          - test_info[:results][:tests].each do |test|
            %li.list-group-item
              %span{class: "badge badge-pill badge-#{map test[:result]}"} &nbsp;
              &nbsp;
              - if is_admin?(user) && path != '/data/age'
                = link_to test[:name], controller: :main, action: :view_results, id: test[:id]
              - else
                = test[:name]
              %p.text-muted.mb-0= test[:message]
        - unless @time_diff.nil?
          .card-footer.text-muted{style: 'font-size: 11.5px;'}
            Last updated
            =@time_diff
            ago
%footer
  .text-center
    Contact
    %a{href: "mailto:asg-technology@u.northwestern.edu"} asg-technology@u.northwestern.edu
    with any concerns.
