.status-top
  .text-center
    %h1.mb-3
      Course Data API Test Results
.results-container
  .results
    .card.mb-3
      .card-body
        %h5.card-title
          = @result.name
          %span.text-muted= "(#{@result.time_run.strftime "%Y-%m-%d %H:%M:%S"})"
        %h6.card-subtitle.text-muted
          %span{class: "badge badge-pill badge-#{@map[@result.result]}"} &nbsp;
          %b
            &nbsp;
            = @result.result.capitalize
      %ul.list-group.list-group-flush
        %li.list-group-item
          %h6 Request URL
          %code
            %a{href: @result.request}= @result.request
        %li.list-group-item
          %h6 Response Message
          = @result.message
        %li.list-group-item
          %h6 Full Response Data
          %pre= @pretty.nil? ? @result.response : @pretty